.cover__link {
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 62.5vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__link:hover::before {
  opacity: 0.8;
}

