.photo-grid {
  margin: 0 auto;
  width: 1184px;
  padding-top: 92px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    width: 928px;
    gap: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 720px;
    gap: 16px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 0 16px;
    width: calc(100vw - 32px);
    gap: 12px;
    padding-top: 64px;
    flex-direction: column;
  }
}
