.places {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}

@media screen and (max-width: 1280px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 720px;
    padding-top: 88px;
  }
}
