.place__paragraph {
  margin: 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
