.place__content-wrapper {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 1279px) {
  .place__content-wrapper {
    gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place__content-wrapper {
    gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place__content-wrapper {
    flex-direction: column;
  }
}
