.place__content-wrapper {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 1280px) {
  .place__content-wrapper {
    gap: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .place__content-wrapper {
    gap: 28px;
  }
}

@media screen and (max-width: 768px) {
  .place__content-wrapper {
    flex-direction: column;
  }
}
