.lead__caption {
  margin: 8px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    max-width: 720px;
    margin: 8px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin: 8px 16px 0;
  }
}
